node_modules/*
client/logs/*
client/assets/wc3icons/*
client/replays/*
*.sublime-workspace

mapdata/
tools/upgrade-data/
tools/ability-data/
slk/UnitBalance*
helpers/UnitBalance*
client/maps/
CLAUDE.md
