html, body {
  border: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-width: 810px;
}

#menu {
  display: flex;
  align-items: center;
  max-height: 3rem;
  padding: 0.15rem;
  border-bottom: 1px solid #000;
  background-color: #5fa5cb;
}

#menu-target svg:hover {
  cursor: pointer;
  fill: #FFF;
}

#menu-target svg:active {
  fill: #EEE;
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  font: 14px Verdana;
  padding-left: 0.25rem;
}

.menu-item:last-child {
  margin-left: auto;
  margin-right: 0.25rem;
  float: right;
}

.menu-item select {
  font: 14px Verdana;
}

.menu-item-button {
  height: 26px;
  font: 14px Verdana;
}

.spacer {
  margin-left: 0.25rem;
}

#panel {
  background: #CCC;
  border: 1px solid #333;
  position: absolute;
  top: 2.35rem;
  z-index: 20;
  padding: 0.55rem;
}

#panel input {
  width: 110px;
}

#panel ul {
  margin: 0;
  padding: 0;
  margin-top: 0.45rem;
}

#panel li {
  display: block;
  list-style: none;
  padding: 0.45rem 0;
  padding-left: 0.15rem;
  border-bottom: 1px solid #333;
  cursor: pointer;
  user-select: none;
}

#panel li:hover {
  background-color: #EEE;
}

#panel li:last-child {
  border-bottom: none;
}

#upload-wrapper {
  display: none;
  z-index: 10;
  position: absolute;
  left: calc(50% - (325px /2));
  top: 125px;
  width: 325px;
  height: 65px;
  background: #EEE;
  border: 1px solid #000;
  border-radius: 1.25rem;
}

#upload-finished,
#upload-error,
#upload-no-ticket,
#upload-progress-loader,
#upload-not-found,
#upload-not-supported {
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-finished,
#upload-error,
#upload-no-ticket,
#upload-not-found,
#upload-not-supported {
  display: none;
  padding: 1rem;
}

#upload-finished {
  flex-direction: column;
}

#uploading-icon {
  display: inline-block;
  width: 65px;
  height: 65px;
}

.side-panel {
  display: none;
  overflow: hidden;
  background: #EEE;
  z-index: 20;
  border: 1px solid #333;
  border-right: none;
  float: right;
  position: absolute;
  right: 0;
  top: 60px;
  min-height: 400px;
}

.side-panel h3 {
  background: #CCC;
  margin: 0;
  padding: 0.25rem 0.35rem;
  border-bottom: 1px solid #333;
  width: 100%;
}

.side-panel h3 a {
  font-size: 14px;
}

.side-panel h4 {
  padding: 0.25rem;
}

.side-panel p {
  padding: 0.25rem;
  width: 325px;
}

.side-panel td {
  padding: 0.25rem;
  border-bottom: 1px solid #C3C3C3;
}

.shown {
  display: block;
}

.wc3v-logo {
  font: 20px Verdana;
  color: #FFFFFF;
}

#input-map-file {
  font-size: 18px;
  width: 400px;
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.5rem; 
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

#main-wrapper {
  /* so we can position: absolute; sub-canvas elements */
  position: relative;
}

#player-status-toggles {
  font: 12px Verdana;
  position: absolute;
  top: 8px;
  left: 16px;
  width: 220px;
  text-align: center;
  z-index: 3;
}

.status-toggle {
  text-selection: none;
  cursor: pointer;
  border: 1px solid #CCC;
  display: inline-block;
  color: #FFFFFF;
  font-size: 13px;
  padding: 0.45rem 0.35rem;
}

.status-toggle.selected {
  border: 1px solid #000033;
  background-color: #CCC;
  color: #000;
}

#player-status-bg-icon {
  position: absolute;
  top: 60px;
  left: -275px;
  background-image: url('/assets/wc3v.svg');
  width: 267px;
  height: 123px;
  transform: scale(0.45);
  z-index: 10;
  opacity: 0.4;
}

#viewer-options {
  display: flex;
  background-color: #99c5de;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: -32px; /* extra padding for canvas border */
  top: 20px;
  width: 30px;
  height: 120px;
  border: 1px solid #333;
  border-left: none;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  user-select: none;
}

#viewer-options.disabled {
  opacity: 0.4;
}

#map-options {
  display: flex;
  background-color: #99c5de;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: -32px; /* extra padding for canvas border */
  top: 220px;
  width: 30px;
  height: 150px;
  border: 1px solid #333;
  border-left: none;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  user-select: none;
}

#map-options.disabled {
  opacity: 0.4;
}

.viewer-option {
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  padding: 0.05rem;
  text-align: center;
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

.viewer-option.on {
  background-image :    -moz-linear-gradient(rgb(200,200,200),rgb(184,240,184));
  background-image :     -ms-linear-gradient(rgb(200,200,200),rgb(184,240,184));
  background-image :      -o-linear-gradient(rgb(200,200,200),rgb(184,240,184));
  background-image : -webkit-linear-gradient(rgb(200,200,200),rgb(184,240,184));
  background-image :         linear-gradient(rgb(200,200,200),rgb(184,240,184));
}

.option-tooltip {
  display: none;
  border: 1px solid #333;
  background-color: rgba(33, 33, 33, 0.6);
  font-size: 14px;
  color: #FFF;
  width: 180px;
  position: relative;
  top: -18px;
  left: 24px;
}

.viewer-option:hover .option-tooltip {
  display: block;
}

#mega-play-button {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  background: url('/assets/mega-play-icon.svg');
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 4rem;
  height: 80px;
  width: 80px;
  display: none;
}

#mega-play-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.85);
}

#loading-icon {
  display: none;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

/* main canvas element (Z=1) */
#main-canvas {
  background-color: #73A9C2;
  transform-origin: 50% 50% 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 1;
}

/* utility canvas element (Z=2) */
#utility-canvas {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 50% 50% 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 2;
  pointer-events: none;
}


/* player canvas element  (Z=3) */
#player-canvas {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 50% 50% 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 3;
  pointer-events: none;
}

/* sub-canvas element */
#player-status-canvas {
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #29373E;
}

#player-status-wrapper {
  position: absolute;
  top: 20px;
  left: -275px;
  width: 265px;
  z-index: 1;
  overflow-y: auto;
  max-height: 650px;
}

.info-wrapper {
  padding: 1rem;
  min-height: calc(600px - 1rem);
}

#unit-list {
  max-height: 300px;
  overflow-y: auto;
  margin: 0;
  padding: 0 0.5rem;
}

#unit-list li {
  list-style-type: none;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

#unit-list li:hover {
  text-decoration: none;
}

.time-scrubber {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 0rem;
  height: 2.25rem;
  border-top: 1px solid #333;
  background-color: rgba(200, 200, 200, 0.5);
  cursor: pointer;
}

.time-scrubber-control {
  text-align: center;
  user-select: none;
}

.time-scrubber-control.play-button {
  width: 1.5rem;
  height: 1.5rem;
}

.play-button path {
  color: #000;
  opacity: 0.5;
}

.play-button:hover path {
  opacity: 1;
}

.speed-modal {
  display: none;
  position: absolute;
  left: 2.35rem;
  top: -7.75rem;
  width: 2rem;
  padding: 0.2rem 0.15rem;
  background-color: #FFF;
  border: 1px solid #333;
  border-radius: 0.5rem;
  font-size: 14px;
}

.speed-modal ul {
  margin: 0;
  padding: 0;
}

.speed-modal li {
  list-style-type: none;
  margin-bottom: 0.1rem;
}

.speed-modal li:last-child {
  margin-bottom: 0;
}

.speed-modal li:hover {
  color: #0033FF;
}

.time-scrubber-control.speed-button {
  width: 1.75rem;
  font-size: 18px;
  font-weight: bold;
}

.time-scrubber-track {
  display: flex;
  align-items: center;
  height: 0.75rem;
  width: calc(100%  - 6rem);
  background-color: #000;
  border: 1px solid #555;
  border-radius: 2rem;
  opacity: 0.5;
  margin-right: 0.65rem;
}

.time-scrubber-tracker {
  pointer-events: none;
  position: relative;
  left: 0;
  height: 0.95rem;
  width: 0.95rem;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 100%;
}
