html, body {
  border: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}

#menu {
  flex: 1;
  max-height: 3rem;
  padding: 0.15rem;
  border-bottom: 1px solid #000;
  background-color: #5fa5cb;
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  font: 14px Verdana;
}

.menu-item select {
  font: 14px Verdana;
}

.menu-item-button {
  height: 26px;
  font: 14px Verdana;
}

.wc3v-logo {
  font: 20px Verdana;
  color: #FFFFFF;
}

#input-map-file {
  font-size: 18px;
  width: 400px;
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.5rem; 
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

#main-wrapper {
  /* so we can position: absolute; sub-canvas elements */
  position: relative;
}

#player-status-toggles {
  font: 12px Verdana;
  position: absolute;
  top: 40px;
  left: -173px;
  width: 170px;
  text-align: center;
  z-index: 3;
}

.status-toggle {
  text-selection: none;
  cursor: pointer;
  border: 1px solid #CCC;
  display: inline-block;
  color: #FFFFFF;
  padding: 0.15rem 0.15rem;
}

.status-toggle.selected {
  border: 1px solid #FFF;
}

#viewer-options {
  display: flex;
  background-color: #99c5de;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -42px; /* extra padding for canvas border */
  top: 20px;
  width: 40px;
  height: 80px;
  border: 1px solid #333;
  border-left: none;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  user-select: none;
}

.viewer-option {
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  padding: 0.05rem;
  text-align: center;
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

.viewer-option.on {
  background-image :    -moz-linear-gradient(rgb(200,200,200),rgb(184,240,184));
  background-image :     -ms-linear-gradient(rgb(200,200,200),rgb(184,240,184));
  background-image :      -o-linear-gradient(rgb(200,200,200),rgb(184,240,184));
  background-image : -webkit-linear-gradient(rgb(200,200,200),rgb(184,240,184));
  background-image :         linear-gradient(rgb(200,200,200),rgb(184,240,184));
}

#mega-play-button {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  background: url('/assets/mega-play-icon.svg');
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 4rem;
  height: 80px;
  width: 80px;
  display: none;
}

#mega-play-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.85);
}

/* main canvas element */
#main-canvas {
  background-color: #73A9C2;
  transform-origin: 50% 50% 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 1;
}

/* sub-canvas element */
#player-status-canvas {
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #29373E;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-right: 0;
  position: absolute;
  top: 20px;
  left: -180px;
  z-index: 2;
}

.info-wrapper {
  padding: 1rem;
  min-height: calc(600px - 1rem);
}

#unit-list {
  max-height: 300px;
  overflow-y: auto;
  margin: 0;
  padding: 0 0.5rem;
}

#unit-list li {
  list-style-type: none;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

#unit-list li:hover {
  text-decoration: none;
}

.time-scrubber {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 0rem;
  height: 2.25rem;
  border-top: 1px solid #333;
  background-color: rgba(200, 200, 200, 0.5);
  cursor: pointer;
}

.time-scrubber-control {
  text-align: center;
  user-select: none;
}

.time-scrubber-control.play-button {
  width: 1.5rem;
  height: 1.5rem;
}

.play-button path {
  color: #000;
  opacity: 0.5;
}

.play-button:hover path {
  opacity: 1;
}

.speed-modal {
  display: none;
  position: absolute;
  left: 2.35rem;
  top: -7.75rem;
  width: 2rem;
  padding: 0.2rem 0.15rem;
  background-color: #FFF;
  border: 1px solid #333;
  border-radius: 0.5rem;
  font-size: 14px;
}

.speed-modal ul {
  margin: 0;
  padding: 0;
}

.speed-modal li {
  list-style-type: none;
  margin-bottom: 0.1rem;
}

.speed-modal li:last-child {
  margin-bottom: 0;
}

.speed-modal li:hover {
  color: #0033FF;
}

.time-scrubber-control.speed-button {
  width: 1.75rem;
  font-size: 18px;
  font-weight: bold;
}

.time-scrubber-track {
  display: flex;
  align-items: center;
  height: 0.35rem;
  width: calc(100%  - 6rem);
  background-color: #000;
  border: 1px solid #555;
  border-radius: 2rem;
  opacity: 0.5;
  margin-right: 0.65rem;
}

.time-scrubber-tracker {
  position: relative;
  left: 0;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 100%;
}
